* {
	line-height: 1em;
}
body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	text-align: center;
	padding: 30px 0;
	margin: 0;
}
#wrapper {
	width: 500px;
	margin: 0 auto;
	text-align: left;
}
.row {
	width: 100%;
	float: left;
	padding-bottom: 5px;
	position: relative;
}
.field,.area {
	border: solid 1px #aaa;
	padding: 8px;
	margin: 0 0 7px 0;
	outline: none;
}
.field {
	width: 250px;
	height: 15px;
}
.area {
	width: 350px;
	height: 150px;
}
label {
	display: block;
	width: 100%;
}
.info {
	position: absolute;
	top: 0;
	left: 266px;
	padding: 9px 15px 7px 15px;
	height: 15px;
	border: solid 1px #59b206;
	white-space: nowrap;
	color: #fff;
	background: #59b206;
	-webkit-border-radius: 0px 500px 500px 0px;
	border-radius: 0px 500px 500px 0px;
}